PORT=5000
MONGO_URI="mongodb://sreenilayreddybackup_db_loopers:cgod@ac-9pq6dos-shard-00-00.akj7697.mongodb.net:27017,ac-9pq6dos-shard-00-01.akj7697.mongodb.net:27017,ac-9pq6dos-shard-00-02.akj7697.mongodb.net:27017/?ssl=true&replicaSet=atlas-wrezi4-shard-0&authSource=admin&appName=Cluster0"
JWT_SECRET=supersecretloopers2026
NODE_ENV=development
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
